# Python
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
__pycache__/

# Virtual environments
venv/
.env
.env.*

# Build / dist
build/
dist/

# Large / Binary files
*.gguf
*.pack
*.bin
*.h5
*.pt
*.pth
*.tar
*.gz
*.zip
*.7z
*.rar
*.dat
*.pkl
*.joblib
*.npy
*.npz

# Project-specific folders
models/
data/
faiss_index/
logs/
*.log

# Databases
*.db
*.sqlite
*.sqlite3
*.bson
*.wt
*.ns
mongod.lock
dump.rdb

# IDE / Editors

.vscode/
.idea/
