fastapi
uvicorn
pymongo
feedparser
beautifulsoup4
faiss-cpu
langchain-community
langchain-huggingface
sentence-transformers
llama-cpp-python
APScheduler
rank-bm25
pydantic
python-dotenv
fuzzywuzzy
python-Levenshtein
lxml
python-dateutil
numpy
pytz
regex
